main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1440px;
    padding: 0 3.75rem;
    margin: auto;
    overflow: hidden;
}
/* ----- hero section ----- */

.hero_section {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

/* ----- trending ----- */
.trending {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    gap: 1.5rem;
    border-top: 1px solid var(--black205);
}

.tabs_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--black2);
}

.trending_buttons {
    display: flex;
    gap: 0.75rem;
}

.sneakers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        'sneaker1 sneaker2 sneaker3 sneaker3'
        'sneaker4 sneaker4 sneaker5 sneaker6';
    width: auto;
    column-gap: 0.75rem;
    row-gap: 1.5rem;
}

.sneaker_form {
    display: flex;
    flex-direction: column;
    color: var(--black2);
}

.sneaker_image {
    display: flex;
    justify-content: end;
    height: calc(100vw / 4 - (1.5rem * 2 + 1.5rem));
    max-height: 32rem;
    padding: 1.25rem;
    color: var(--white);
    border-radius: 2.5rem;
    background-size: cover;
}

.grid_sneaker1 {
    grid-area: sneaker1;
}

.grid_sneaker2 {
    grid-area: sneaker2;
}

.grid_sneaker3 {
    grid-area: sneaker3;
}

.grid_sneaker4 {
    grid-area: sneaker4;
}

.grid_sneaker5 {
    grid-area: sneaker5;
}

.grid_sneaker6 {
    grid-area: sneaker6;
}

#sneaker1 {
    background-image: url(../assets/content/sneaker_01_desctop.jpg);
}

#sneaker2 {
    background-image: url(../assets/content/sneaker_02_desctop.jpg);
}

#sneaker3 {
    background-image: url(../assets/content/sneaker_03_desctop.jpg);
}

#sneaker4 {
    background-image: url(../assets/content/sneaker_04_desctop.jpg);
}

#sneaker5 {
    background-image: url(../assets/content/sneaker_05_desctop.jpg);
}

#sneaker6 {
    background-image: url(../assets/content/sneaker_06_desctop.jpg);
}

@media (max-width: 1024px) {
    main {
        padding: 0 1.5rem;
    }

    .tabs_area {
        flex-direction: column;
        align-items: flex-start;
    }

    .trending_buttons {
        margin-top: 0.5rem;
    }

    .sneakers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            'sneaker1 sneaker2'
            'sneaker3 sneaker3'
            'sneaker4 sneaker5'
            'sneaker6 sneaker6';
        max-height: none;
        aspect-ratio: auto;
    }

    .sneaker_image {
        height: calc(100vw * 3 / 4 - (1.5rem * 2 + 0.75rem));
        max-height: calc(100vw / 2 - (1.5rem * 2 + 0.75rem));
        border-radius: 1.5rem;
    }

    #sneaker1 {
        background-image: url(../assets/content/sneaker_01_mobile.jpg);
    }

    #sneaker2 {
        background-image: url(../assets/content/sneaker_02_mobile.jpg);
    }

    #sneaker3 {
        background-image: url(../assets/content/sneaker_03_mobile.jpg);
    }

    #sneaker4 {
        background-image: url(../assets/content/sneaker_04_mobile.jpg);
    }

    #sneaker5 {
        background-image: url(../assets/content/sneaker_05_mobile.jpg);
    }

    #sneaker6 {
        background-image: url(../assets/content/sneaker_06_mobile.jpg);
    }
}

@media (max-width: 560px) {
}
